.header {
	margin-top: 20px;
}

.profile-image,
.small-profile-image {
	position: relative;
	overflow: hidden;
}

.profile-image {
	margin: 0 auto;
	border-radius: 50%;
	width: 120px;
	height: 120px;
}

.small-profile-image {
	width: 40px;
	height: 40px;
}

.profile-image img,
.small-profile-image img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%,-50%);
	      transform: translate(-50%,-50%);
}

.user-info h1 {
	margin: 10px auto;
	font-size: 26px;	
}

.follow,
.following {
	margin-left: 5px;
	padding: 2px 3px;
	border: 1px solid;
	border-radius: 4px;
	font-size: 10px;
	font-weight: 200;
	vertical-align: middle;
}

.follow,
.following:hover {
	color: #000;
	border-color: #000;
}

.follow:hover,
.following {
	color: #5575d5;
	border-color: #5575d5;
}

.user-info h2 {
	margin: 0 auto;
	font-size: 14px;
	font-weight: 200;
}

.most-frequent-tags {
	width: 100%;
	display: inline-block;
	margin-top: 20px;
}

.most-frequent-tags ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.most-frequent-tags li {
	float: left;
	width: 20%;
	padding: 2px 5px;
	font-size: 10px;
}

.most-frequent-tags li a {
	color: #fff;
}

.most-frequent-tags li:first-child {
	background-color: #d56a6a;
}

.most-frequent-tags li:nth-child(2) {
	background-color: #888852;
}

.most-frequent-tags li:nth-child(3) {
	background-color: #d5d555;
}

.most-frequent-tags li:nth-child(4) {
	background-color: #525f88;
}

.most-frequent-tags li:last-child {
	background-color: #5575d5;
}

.content {
	margin: 20px auto 0;
	max-width: 1024px;
}

.logged-in-content { 
	margin: 60px auto 0;
	max-width: 1024px;
}

.post {	
	padding: 20px;
}

.post,
.image-post {
	position: relative;
	margin-bottom: 20px;
	background-color: #fff;
	font-size: 14px;
	line-height: 1.5;
}

.image-description {
	width: 50%;
}

.image-description .text {
	padding: 20px;
}

.image {
	width: 50%;
}

.image img {
	cursor: pointer;
}

.dark {
	background-color: #222;
	color: #fff;
}

.dark a {
	color: #d5d555;
}

.text {
	margin-bottom: 20px;
}

.meta {
	position: absolute;
	bottom: 10px;
	list-style-type: none;
	font-size: 10px;
}

.image-post .meta {
	padding: 10px 20px;
	width: 100%;
	bottom: 0;
	background-color: rgba(34, 34, 34, 0.5);
}

.meta li {
	display: inline;
	margin-right: 3px;
}

.favorite,
.repost {
	display: inline-block;
	background: url('../img/icons.gif');
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	background-size: 32px;
	vertical-align: middle;
}

.favorite {
	background-position: 0 0;
}

.repost {
	background-position: -16px 0;
}

.favorite:hover {
	background-position: 0 -16px;
}

.repost:hover {
	background-position: -16px -16px;
}

.dark .favorite {
	background-position: 0 -32px;
}

.dark .repost {
	background-position: -16px -32px;
}

.dark .favorite:hover {
	background-position: 0 -48px;
}

.dark .repost:hover {
	background-position: -16px -48px;
}

.join {
	background: url("../img/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
			background-size: cover;
	color: #fff;
}

.join h1 {
	font-size: 48px;
}

.join h2 {
	margin-bottom: 15px;
	color: #000;
}

.footer {
	margin-bottom: 10px;
	font-size: 8px;
	text-align: center;
	color: #a9a9a9;
}

.logged-in-toolbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #222;
	z-index: 1;
	color: #fff;
}

.logged-in-toolbar ul {
	width: 100%;
	padding: 13px 0 0 15px;
	font-size: 14px;
	list-style-type: none;
	overflow: hidden;
}

.logged-in-toolbar li {
	float: left;
	padding-right: 15px;
}

li.logged-in-right {
	float: right;
}

.logged-in-toolbar li a {
	color: #fff;
}

.logged-in-toolbar li a:hover {
	color: #d5d555;
}

.notification-3,
.notification-4,
.notification-6,
.notification-12 {
	background-color: #5575d5;
	color: #fff;
	opacity: 1;
	transition: opacity 0.6s;
}

.notification-3 a,
.notification-4 a,
.notification-6 a,
.notification-12 a {
	color: #d5d555;
}

.close-notification {
	float: right;
	margin-left: 15px;
	font-size: 22px;
	line-height: 22px;
	cursor: pointer;
	transition: 0.4s;
	color: #fff;
}

.close-notification:hover {
	color: #000;
}

.new-post {
	margin-top: 15px;
}

@media only screen and (max-width: 980px) {
	.user-info h1 {
		font-size: 48px;
	}

	.user-info h2 {
		font-size: 32px;
	}

	.follow,
	.following,
	.most-frequent-tags li,
	.meta {
		font-size: 16px;
	}

	.post,
	.image-post {
		font-size: 20px;
	}

	.meta li {
		margin-right: 10px;
	}

	.favorite,
	.repost {
		display: inline-block;
		background: url('../img/icons.gif');
		background-repeat: no-repeat;
		height: 32px;
		width: 32px;
		background-size: 64px;
		vertical-align: middle;
	}

	.favorite {
		background-position: 0 0;
	}

	.repost {
		background-position: -32px 0;
	}

	.favorite:hover {
		background-position: 0 -32px;
	}

	.repost:hover {
		background-position: -32px -32px;
	}

	.dark .favorite {
		background-position: 0 -64px;
	}

	.dark .repost {
		background-position: -32px -64px;
	}

	.dark .favorite:hover {
		background-position: 0 -96px;
	}

	.dark .repost:hover {
		background-position: -32px -96px;
	}
}